---
layout: default
---

<header class="article__header">
  <div class="article__section">
    
    <a href="/">Home</a> &gt; <a href="/admin/home/">Admin</a>
  </div>
  <h2 class="article__title">{{ title }}</h2>
</header>

<div class="article__content">{{ content }}</div>

<link
  href="{{ urls.assets }}/style/admin.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{{ urls.assets }}/style/charts.css"
  rel="stylesheet"
  type="text/css"
/>

<script type="module" src="{{ urls.assets }}/scripts/admin.js"></script>
