<!DOCTYPE html>
<html
  lang="en-GB"
  data-url-api="{{ urls.api }}"
  data-url-api-health="{{ urls.apis.health }}"
  data-url-api-auth="{{ urls.apis.auth }}"
  data-url-api-thermometer="{{ urls.apis.thermometer }}"
  data-url-assets="{{ urls.assets }}"
  data-url-images="{{ urls.images }}"
  data-url-location-history="{{ urls.locationHistory }}"
>
  <head>
    <meta charset="utf-8" />
    <meta name="referrer" content="strict-origin-when-cross-origin" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#008291" />
    <meta name="description" content="{{ description }}" />
    <meta name="author" content="Thomas 'Panda' Attwood (TickleThePanda)" />
    <title>{{ title }} - TickleThePanda</title>
    <link rel="canonical" href="{{ urls.base }}{{ permalink | url }}" />

    <link rel="preload" href="{{ urls.assets }}/style/main.css" as="style" />
    <link rel="preconnect" href="https://microanalytics.io/"/>
    <link rel="preconnect" href="https://images.ticklethepanda.co.uk/"/>

    <link
      href="{{ urls.assets }}/style/main.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ urls.assets }}/style/fonts.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ urls.assets }}/style/main-print.css"
      rel="stylesheet"
      type="text/css"
      media="print"
    />

    <script
      type="module"
      async
      src="{{ urls.assets }}/scripts/random-border-elements.js"
    ></script>

    <script
      data-host="https://microanalytics.io"
      data-dnt="false"
      src="https://microanalytics.io/js/script.js"
      id="ZwSg9rf6GA"
      async
      defer
    ></script>
  </head>
  <body class="page">
    <header class="header">
      <a class="block-link" href="/">
        {% include "logo" %}
      </a>
    </header>
    <main>
      <article>{{ content }}</article>
    </main>
  </body>
</html>
