---
layout: default
---

<header class="article__header">
  <h2 class="article__title">
    {{ title }}
  </h2>
  <div class="article__date">
    {% assign fmt = "%b ’%y" %}
    {% if updated %}
      <div class="card__date">↻ {{ updated | date: fmt }} ({{ created | date: fmt }})</div>
    {% else %}
      <div class="card__date">{{ created | date: fmt }}</div>
    {% endif %}
  </div>
</header>

<div class="article__content">
  {{ content }}
</div>
