---
title: Galleries
description: Galleries of photography taken with film cameras.
permalink: /photography/galleries/
section: Photography
sectionLink: /photography/

created: 2015-01-01
updated: 2020-04-20

previewImage: https://images.ticklethepanda.dev/images/project-images/project-photography.jpg
---

<nav>
  <p><a href="/photography/">Back to favourites</a>
</nav>

<div class="galleries full-width">
  {% assign galleries = galleries.galleries | reverse %}
  {% for gallery in galleries %}
    <div class="gallery" id="gallery-{{ gallery.ref }}">
      <nav class="gallery-nav content-item">
        {% unless forloop.first %}
          {% assign prev_i = forloop.index0 | minus: 1 %}
          <a class="prev" href="?gallery={{ galleries[prev_i].ref }}">↞ Previous</a>
        {% endunless %}
        <span class="index">{{ forloop.index }}
          of
          {{ forloop.length }}
          galleries
        </span>
        {% unless forloop.last %}
          {% assign next_i = forloop.index0 | plus: 1 %}
          <a class="next" href="?gallery={{ galleries[next_i].ref }}">Next ↠</a>
        {% endunless %}
      </nav>
      {% render 'gallery-content', gallery: gallery, urls: urls %}
      <nav class="gallery-nav content-item gallery-nav--bottom">
        {% unless forloop.first %}
          {% assign prev_i = forloop.index0 | minus: 1 %}
          <a class="prev" href="?gallery={{ galleries[prev_i].ref }}">↞ Previous</a>
        {% endunless %}
        <span class="index">{{ forloop.index }}
          of
          {{ forloop.length }}
          galleries
        </span>
        {% unless forloop.last %}
          {% assign next_i = forloop.index0 | plus: 1 %}
          <a class="next" href="?gallery={{ galleries[next_i].ref }}">Next ↠</a>
        {% endunless %}
      </nav>
    </div>
  {% endfor %}
</div>

<link href="{{ urls.assets }}/style/gallery.css" rel="stylesheet" type="text/css"/>
<script type="module" async src="{{ urls.assets }}/scripts/gallery.js"></script>
