---
title: Weight
permalink: /admin/weight/
tags: adminPage
description: Update and view weight history
---

<div id="weight-charts" class="faceted-data-container form inline">
  <div class="controls">
    <div class="control-set facets">
      <h3>Data Facets:</h3>
      <button
        type="button"
        id="weight-chart-all"
        class="button"
        name="weight-facet"
        value="all"
      >
        All
      </button>
      <button
        type="button"
        id="weight-chart-yearly"
        class="button"
        name="weight-facet"
        value="yearly"
      >
        Yearly
      </button>
      <button
        type="button"
        id="weight-chart-trying-again"
        class="button"
        name="weight-facet"
        value="trying-again"
      >
        Trying again!
      </button>
      <button
        type="button"
        id="weight-chart-recent"
        class="button button--selected"
        name="weight-facet"
        value="recent"
      >
        Recent
      </button>
    </div>
  </div>
  <div class="facet-data chart-container" id="weight-chart"></div>
</div>

<form id="weight-form" class="submission-form">
  <h3 class="submission-form__header">weight</h3>
  <div class="submission-form__grouped-items">
    <input
      class="submission-form__form-item submission-form__grouped-item submission-form__grouped-item--first"
      id="entry-date"
      name="entry-date"
      type="date"
      placeholder="date"
    />
    <select
      class="submission-form__form-item submission-form__grouped-item"
      id="entry-period"
      name="entry-period"
      placeholder="period"
    >
      <option value="AM">AM</option>
      <option value="PM">PM</option>
    </select>
  </div>
  <input
    class="submission-form__form-item"
    name="entry-value"
    type="number"
    step="0.1"
    placeholder="weight"
  />
  <button class="submission-form__submit" type="submit">Submit Weight</button>
  <div id="results">
    <div class="error">error: <span id="result-error"></span></div>
    <div class="success">date: <span id="result-date"></span></div>
    <div class="success">period: <span id="result-period"></span></div>
    <div class="success">weight: <span id="result-value"></span></div>
  </div>
</form>

<div id="weight-history">
  <table>
    <thead>
      <tr>
        <th>date</th>
        <th>am</th>
        <th>pm</th>
      </tr>
    </thead>
    <tbody id="weight-history-table-body"></tbody>
  </table>
</div>

<script src="{{ urls.cdn.vega }}"></script>
<script src="{{ urls.assets }}/scripts/health.js" type="module"></script>
<script
  type="module"
  src="{{ urls.assets }}/scripts/admin--weight-app.js"
></script>

<link
  href="{{ urls.assets }}/style/health.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{{ urls.assets }}/style/charts.css"
  rel="stylesheet"
  type="text/css"
/>
